/*
	By
		Pawan Terdal		-	1PE15IS073
		Rahul Putcha Gautham	-	1PE15IS079

	Complete Layout of the Website
	With some Mini Animation Effects for some HTML Elements
 */

/*------------Basic HTML Attributes-----------------*/
*
{
	margin		: 0;
	padding		: 0;
	box-sizing	: border-box;
}

html
{
	font-size	: 18px;
	font-family	: sans-serif;
	text-rendering	: optimizeLegibility;
}


/*----For Declaring a Row--------*/
.row
{
	max-width	: 100%;
	margin		: 0 auto;
	padding		: 0;
}

/*------------------Navigation Menu------------------*/
.navigation-links
{
	position	: absolute;
	display		: inline-block;
	width		: 100%;
	color		: white;
}
.navigation-links ul
{
	float		: right;
	list-style	: none;
}

.navigation-links ul li
{
	float		: left;
	margin		: 30px 30px;
	padding-bottom	: 10px;
	font-size	: 110%;
	border-bottom	: 2px solid transparent;
	text-transform	: uppercase;
	transition	: border-bottom 1s;
}

.navigation-links ul li:hover , .navigation-links ul li:active
{
	border-bottom	: 2px solid orange;
}

.logo
{
	z-index		: 1;
	margin		: 10px;
	border		: 1px solid transparent;
	width		: 100px;
	height		: 100px;
	border-radius	: 50%;
	overflow	: hidden;
	transition	: border 1s , border-radius 1s;
}

.logo:hover , .logo:active
{
	border		: 1px solid orange;
	border-radius	: 10%;
}


/*---------------------------------Home---------------------------------*/
/*-------Header Tags Attributes---------*/
h1,h5
{
	color		: white;
	text-transform	: uppercase;
	word-spacing	: 3px;
	letter-spacing	: 1px;
}

h1
{
	font-size	: 300%;
	font-weight	: 100;
}

h2
{
	font-size	: 190%;
	font-weight	: 500;
	padding		: 30px;
	text-align	: center;
}

h2:after
{
	display			: block;
	content			: "";
	background-color	: orange;
	margin			: 5px auto;
	width			: 25%;
	height			: 2px;
}

h4
{
	font-size	: 110%;
	margin-left	: 10%;
}

h5
{
	font-size	: 90%;
	font-weight	: 300;
}

/*--------Basic Contents-----*/
p
{
	margin		: 0 15%;
	text-align	: justify;
	line-height	: 130%;
}

.header-textbox
{
	border-top		: 3px solid rgba(200,200,200,0.3);
	border-bottom		: 3px solid rgba(200,200,200,0.3);
	padding			: 3px 0;
	text-align		: center;
	transform		: translate(0px,45vh);
}

.header-textbox div
{
	max-width		: 100%
	background-color	: rgba(0,0,0,0.5);
	border			: 5px solid rgba(100,100,100,0.6);
	border-radius		: 10px;
	margin			: 0 auto;
	width			: 50%;
}


header
{
	height			: 100vh;
	background-image	: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(./images/cover1.jpg);
	background-size		: cover;
	background-position	: center;
	background-attachment	: fixed;
	transition		: background-image 2s;
}


/*-------------------------------Layout---------------------------------*/
#sheet div
{
	display		: inline-block;
	margin		: 10px;
	border		: 2px solid orange;
	border-radius	: 50%;
	height		: 35px;
	width		: 35px;
	font-size	: 50%;
	text-align	: center;
	padding		: 6px;
	transition	: background-color 1.5s;
}

#sheet div:hover
{
	background-color : yellow;
}

/*---------------------------------Rest---------------------------------*/
section
{
	height			: 100vh;
}

#Details , #Slot-Preview
{
	background-color	: #dfdfdf;
}

#About
{
	background-image	: linear-gradient(rgba(5,50,100,0.8),rgba(0,0,0,0.8));
	color			: lightgray;
	padding			: 15px 0px;
}

#About h4
{
	color			: orange;
	text-transform		: uppercase;
}

input[type = "submit"] , input[type = "button"]
{
	margin-left	: 100px;
}

/*-------------For Decoration----------------*/
.decor-images
{
	margin-left		: 50px;
	list-style		: none;
}

.decor-images li figure
{
	display			: inline-block;
	float			: left;
	width			: 18%;
	height			: auto;
	margin			: 0 10px;
	background-color	: black;
	border-radius		: 30px;
	overflow		: hidden;
}

.decor-images li figure img
{
	opacity			: 0.6;
	width			: 100%;
	height			: 30vh;
	transition		: transform 2s,opacity 2s;
}

.decor-images li figure img:hover
{
	opacity		: 1;
	transform	: scale(1.3);
}

.button
{
	display			: inline-block;
	width			: 100px;
	height			: 30px;
	text-align		: center;
	margin			: 10px 15px;
	border			: 2px solid black;
	border-radius		: 100px;
	background-image	: linear-gradient(rgba(0,0,0,0.8) , rgba(100,100,100,0.8));
	color			: rgba(250,250,250,0.7);
	transition		: border 0.5s, background-image 0.5s, color 1s;
}

.button:hover , .button:active
{
	border			: 2px solid gray;
	background-image	: linear-gradient(rgba(100,100,100,0.8) , rgba(200,200,200,0.8));
	color			: rgba(200,200,200,1);
}

/*---------------------For Decoration--------------------------*/
.decor-images2
{
	width			: 100%;
	height			: 40vh;
	background-image	: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(./images/cover2.jpg);
	background-position	: center;
	background-size		: cover;
	background-attachment	: fixed;
	margin-top		: 35vh;
}
